body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    margin: 0;
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 1136px;
    margin: 0 auto;
}

img{
    display: block;
    margin: 0;
}

button{
    cursor: pointer;
}

/* Header */
.header{
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.033em;
    text-transform: uppercase;
    margin-right: 365px;
}

.logo img{
    margin-left: 4px;
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list{
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.header-list li{
    padding: 8px;
    border-radius: 10px;
    outline: 1px solid rgba(17, 17, 17, 0.10);
    align-items: flex-start;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.simply{
    font-style: italic;
}


.nav-list a{
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.017em;
    padding: 32px 0;
}
/* Main */
/* Hero */
.hero-section{
    border-radius: 30px;
    background-color: rgba(17, 17, 17, 0.60);
    padding: 381px 0px 40px;
    margin: 0 32px;
}

.hero-section .container{
    padding: 0 40px;
}

.hero-title{
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.052em;
    margin-right: 572px;
    margin-bottom: 32px;
    width: 484px;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.hero-buttons-container{
    display: flex;
    gap: 14px;
}

.hero-button, .hm-link{
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    line-height: normal;
}

.hero-button{
    border-radius: 100px;
    background-color: #FD9222;
    border: none;
}

.hero-button:hover,
.hero-button:focus{
    color: #FD9222;
    background-color: #FCF1E0;
}

.scroll-down{
    display: flex;
    gap: 14px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.026em;
}

.scroll-down:hover,
.scroll-down:focus{
    color: #FD9222;
}

.scroll-down span{
    display: flex;
    text-align: center;
    padding: 8px;
    background-color: #fff;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 100px;
    align-items: center;
}

.hm-link{
    border-radius: 100px;
    border: 1px solid #FFF;
}

.hm-link:hover,
.hm-link:focus{
    border: 1px solid #FD9222;
    color: #FD9222;
}
/*Benefits*/

.benefits{
    background-color: #1E1823;
    margin: 80px 0 120px;
    padding: 50px 0;
}

.benefits .container{
    padding: 0 18px;
}

.section-title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title span{
    color: #FD9222;
}

.benefits-list{
    display: flex;
    justify-content: space-between;
}

.benefits-card{
    width: calc((100% - 176px) / 3);
}

.benefits-card-title{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.011em;
    line-height: normal;
    margin-bottom: 18px;
}

.benefits .text{
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.017em;
}
/* Ingredients */
.ingredients{
    margin-bottom: 120px;
}

.ingredients-title-block{
    max-width: 486px;
    margin: 0 auto;
    padding: 0 37px;
}

.ingredients-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.0175em;
    text-transform: uppercase;
    margin-top: 36px;
}

.ingredients-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
}

.ingredients-card{
    width: calc((100% - 96px) / 4);
    padding: 28px 23px;
    border-radius: 15px;
}

.ingredients-card:nth-child(2n){
    outline: 1px solid #FD9222;
    background-color: #FFF;
}

.ingredients-card:nth-child(4n+1){
    background-color: #FD9222;
    color: #FFF;
}

.ingredients-card:nth-child(4n-1){
    background-color: #1E1823;
    color: #FFF;
}

/*How it's made*/
.how-it-made{
    margin-bottom: 120px;
    color: #111;
}

.how-it-made-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    max-width: 350px;
    margin-bottom: 28px;
}

.how-it-made-container{
    display: flex;
    gap: 20px;
}

.how-it-made-block{
    border-radius: 15px;
    padding: 32px;
    background-color: #FFF;
}

.how-it-made-list{
    list-style: disc;
    padding-left: 16px;
}

.how-it-made-list li{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.0175em;
}

.how-it-made-list li:not(:last-child){
    margin-bottom: 24px;
}

/* Products */
.products{
    margin-bottom: 120px;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 24px;
}

.products-card{
    background-color: #FFF;
    border-radius: 15px;
    outline: 1px solid rgba(17, 17, 17, 0.10);
    width: calc((100% - 54px) / 4);
    padding: 32px 20px;
    text-align: center;
}

.products-card-title{
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.022em;
    text-transform: uppercase;
    margin: 8px 0 2px;
}

.products-card-text{
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.015em;
}

.products-card-button{
    color: #111;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    outline: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FAFAFA;
    padding: 8px 20px;
    margin: 18px 0 0;
}

/* Our bestsellers */
.bestsellers-list{
    display: flex;
    gap: 16px;
}

.bestsellers-card{
    background-color: #FFF;
    border-radius: 15px;
    width: calc((100% - 32px) / 3);
}

.bestsellers-card img{
    border-radius: 15px 15px 0 0;
}

.bestsellers-card-info{
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);
    border-left: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FFF;
    padding: 28px 0;
}

.bestsellers-card-title{
    text-transform: uppercase;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.022em;
}

/* Rewiews */
.rewiews{
    margin: 120px 0;
}

.rewiews-list{
    display: flex;
    gap: 28px;
}

.rewiews-card{
    width: calc((100% - 56px) / 3);
    display: flex;
    flex-direction: column;
}

.rewiews-card-title{
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-top: 18px;
}

.rewiews-card-text{
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.017em;
    height: 72px;
}

.rewiews-card-img{
    border-radius: 80px;
    margin: 0 auto;
}

.rewiews-card-background{
    border-radius: 15px;
    outline: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #fff;
    padding: 104px 24px 24px;
    z-index: 1;
}

.rewiews-card-info{
    z-index: 2;
    margin-bottom: -82px;
}

.rewiews-button {
    display: flex;
    border-radius: 100px;
    border: none;
    outline: 1px solid #FD9222;
    background-color: #FAFAFA;
    padding: 14px 40px;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 50px auto 0;
}

.rewiews-button:focus,
.rewiews-button:hover {
    background-color: #FD9222;
    color: #fff;
}

/* Footer */
footer{
    background-color: #1E1823;
    padding: 50px 0 86px;
    color: #FFF;
}

.footer-container{
    display: flex;
    margin-bottom: 50px;
}

.footer-info-block{
    margin-right: 50px;
    min-width: 112px;
}

.footer-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.035em;
    margin-right: 510px;
}

.footer-title span{
    color:#FD9222;
}

.sn-title, .address-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    margin-bottom: 14px;
}

.sn-list{
    display: flex;
    gap: 14px;
}

.address-list a{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.017em;
    font-style: normal;
}

.address-list li:first-child{
    margin-bottom: 3px;
}

.footer-nav{
    margin-top: 24px;
}

.footer-nav-list{
    display: flex;
    gap: 24px;
}

footer a{
    color: #FFF;
}

.footer-nav-list li{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.017em;
}

hr{
   border:1px solid rgba(255, 255, 255, 0.10); 
   margin: 0;
}