

/* Header */
/* .header{
    padding: 20px 0;
}

.logo{
    display: flex;
    align-items: center;
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.033em;
    text-transform: uppercase;
    margin-right: 365px;
}

.logo img{
    margin-left: 4px;
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list{
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

.header-list-link{
    display: block;
    padding: 8px;
    border-radius: 10px;
    outline: 1px solid rgba(17, 17, 17, 0.10);
    transition: outline 250ms ease-in-out;
}

.header-list-link:hover,
.header-list-link:focus{
    outline: 1px solid rgba(253, 146, 34, 0.10);
}

.header-icon{
    transition: fill 250ms ease-in-out;
}

.header-list-link:hover .header-icon,
.header-list-link:focus .header-icon{
    fill: #FD9222;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.simply{
    font-style: italic;
}

.nav-links{
    position: relative;
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.017em;
    padding: 32px 0;
    transition: color 250ms ease-in-out;
}

.nav-links:hover,
.nav-links:focus{
    color: #fd9322;
}

.nav-links::after{
    position: absolute;
    right: 0;
    bottom: 22px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 250ms ease-in-out;
}

.nav-links:hover::after,
.nav-links:focus::after{
    background-color: #fd9322a9;
} */

/* Main */
/* Hero */
/* .hero-section{
    max-width: 1136px;
    border-radius: 30px;
    background-color: rgba(17, 17, 17, 0.60);
    padding: 381px 0px 40px;
    margin: 0 auto;
    background-image: linear-gradient(
        to top,
        rgba(17, 17, 17, 0.40),
        rgba(17, 17, 17, 0.40)
    ), url('../img/hero-img.jpg');
}

.hero-section .container{
    padding: 0 40px;
}

.hero-title{
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.052em;
    margin-right: 572px;
    margin-bottom: 32px;
    width: 484px;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.hero-buttons-container{
    display: flex;
    gap: 14px;
}

.hero-button, .hero-link{
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    line-height: normal;
}

.hero-button{
    border-radius: 100px;
    background-color: #FD9222;
    border: none;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.hero-button:hover,
.hero-button:focus{
    color: #FD9222;
    background-color: #FCF1E0;
}

.scroll-down{
    display: flex;
    gap: 14px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.026em;
    transition: color .25s ease-in-out;
}

.scroll-down:hover,
.scroll-down:focus{
    color: #FD9222;
}

.scroll-down-icon{
    padding: 8px;
    background-color: #fff;
    fill:#FD9222;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    transition: fill .25s ease-in-out, background-color .25s ease-in-out;
}

.scroll-down:hover .scroll-down-icon,
.scroll-down:focus .scroll-down-icon{
    fill: #fff;
    background-color: #FD9222;
}

.hero-link{
    border-radius: 100px;
    outline: 1px solid #FFF;
    transition: color .25s ease-in-out, outline .25s ease-in-out;
}

.hero-link:hover,
.hero-link:focus{
    outline: 1px solid #FD9222;
    color: #FD9222;
} */
/* Hero */

/*Benefits*/

/* .benefits{
    background-color: #1E1823;
    margin: 80px 0 120px;
    padding: 50px 0;
}

.benefits .container{
    padding: 0 18px;
}

.section-title{
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list{
    display: flex;
    justify-content: space-between;
}

.benefits-card{
    width: calc((100% - 176px) / 3);
}

.benefits-card-line{
    align-self: center;
    opacity: .5;
}

.benefits-line{
    background: rgba(255, 255, 255, 0.50);
}

.benefits-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    border-radius: 365px;
}

.benefits-card-title{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.011em;
    line-height: normal;
    margin-bottom: 18px;
}

.benefits .text{
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.017em;
} */
/* Ingredients */
/* .ingredients{
    margin-bottom: 120px;
}

.ingredients-title-block{
    max-width: 486px;
    margin: 0 auto;
    padding: 0 37px;
}

.ingredients-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.0175em;
    text-transform: uppercase;
    margin-top: 36px;
}

.ingredients-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
}

.ingredients-card{
    position: relative;
    width: calc((100% - 96px) / 4);
    padding: 28px 23px;
    border-radius: 15px;
}

.ingredients-card:nth-child(2n){
    outline: 1px solid #FD9222;
    background-color: #FFF;
}

.ingredients-card:nth-child(4n+1){
    background-color: #FD9222;
    color: #FFF;
}

.ingredients-card:nth-child(4n-1){
    background-color: #1E1823;
    color: #FFF;
}

.ingredients-icon{
    position: absolute;
    right: 14px;
    top: 14px;
    stroke: #fafafa;
}

.ingredients-card:nth-child(2n) .ingredients-icon{
    stroke:#FD9222;
} */

/*How it's made*/
/* .how-it-made{
    margin-bottom: 120px;
    color: #111;
}

.how-it-made-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    max-width: 350px;
    margin-bottom: 28px;
}

.how-it-made-container{
    display: flex;
    gap: 20px;
}

.how-it-made-block{
    border-radius: 15px;
    padding: 32px;
    background-color: #FFF;
}

.how-it-made-list{
    list-style: disc;
    padding-left: 16px;
}

.how-it-made-list li{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.0175em;
}

.how-it-made-list li:not(:last-child){
    margin-bottom: 24px;
} */

/* Products */
/* .products{
    margin-bottom: 120px;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 24px;
}

.products-card{
    background-color: #FFF;
    border-radius: 15px;
    outline: 1px solid rgba(17, 17, 17, 0.10);
    width: calc((100% - 54px) / 4);
    padding: 32px 20px;
    text-align: center;
}

.products-card-title{
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.022em;
    text-transform: uppercase;
    margin: 8px 0 2px;
}

.products-card-text{
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.015em;
}

.products-card-button{
    color: #111;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    outline: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FAFAFA;
    padding: 8px 20px;
    margin: 18px 0 0;
} */

/* Our bestsellers */
/* .bestsellers-list{
    display: flex;
    gap: 16px;
}

.bestsellers-card{
    background-color: #FFF;
    border-radius: 15px;
    width: calc((100% - 32px) / 3);
}

.bestsellers-card:hover .overlay-text{
    transform: translateY(0%);
}

.bestsellers-card img{
    border-radius: 15px 15px 0 0;
}

.bestsellers-card-info{
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);
    border-left: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FFF;
    padding: 28px 0;
}

.bestsellers-card-title{
    text-transform: uppercase;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.022em;
}

.bestsellers-overlay{
    position: relative;
    overflow: hidden;
}

.overlay-text{
    position: absolute;
    top: 0;
    height: 100%;
    padding: 178px 40px 0;
    
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    backdrop-filter: blur(7.5px);
    transform: translateY(100%);
    transition: transform .25s ease-in;

    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.0175em;
} */

/* Rewiews */
/* .rewiews{
    margin: 120px 0;
}

.rewiews-list{
    display: flex;
    gap: 28px;
}

.rewiews-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 56px) / 3);
    padding-top: 42px;
}

.rewiews-card-background {
    border-radius: 15px;
    outline: 1px solid rgba(17, 17, 17, 0.10);
    box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
    background-color: #fff;
    padding: 104px 24px 24px;
}

.rewiews-card-info {
    position: absolute;
    height: 100%;
    top: 0;
}

.rewiews-card-title{
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    margin-top: 18px;
}

.rewiews-card-text{
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.017em;
    height: 72px;
}

.rewiews-card-img{
    border-radius: 80px;
    margin: 0 auto;
}

.rewiews-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 50px;
    border-radius: 100px;
    border: none;
    outline: 1px solid #FD9222;
    background-color: #FAFAFA;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 50px auto 0;
    cursor: pointer;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.rewiews-button:focus,
.rewiews-button:hover {
    background-color: #FD9222;
    color: #fff;
} */

/* Footer */
/* footer{
    background-color: #1E1823;
    padding: 50px 0;
    color: #FFF;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-list-block{
    margin-right: 50px;
}

.footer-info-container{
    display: flex;
}

.footer-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.035em;
    max-width: 300px;
}

.footer-title span{
    color:#FD9222;
}

.sn-title, .address-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    margin-bottom: 14px;
}

.sn-list{
    display: flex;
    gap: 14px;
}

.footer-list-link{
    display: block;
    padding: 8px;
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 0.10);
    transition: outline .25s ease-in-out;
}

.footer-icon{
    fill: #fff;
    transition: fill .25s ease-in-out;
}

.footer-list-link:hover,
.footer-list-link:focus{
    outline: 1px solid rgba(253, 146, 34, 0.10);
}

.footer-list-link:hover .footer-icon,
.footer-list-link:focus .footer-icon{
    fill: #FD9222;
}

.address-list-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.017em;
    font-style: normal;
    transition: color 250ms ease-in-out;
}

.address-list-link:hover,
.address-list-link:focus{
    color: #fd9322;
}

.address-list li:first-child{
    margin-bottom: 3px;
}

.footer-nav{
    display: grid;
    place-items: center;
}

.footer-nav-list{
    display: flex;
    gap: 24px;
}

footer a{
    color: #FFF;
}

.footer-nav-links{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.017em;
    transition: color .25s ease-in-out;
}

.footer-nav-links:hover,
.footer-nav-links:focus{
    color:#FD9222;
}

hr{
   border:1px solid rgba(255, 255, 255, 0.10); 
   margin: 0;
}

.footer-nav-form-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.footer-form{
    display: flex;
    gap: 8px;
}

.footer-input{
    width: 313px;
    min-height: 52px;
    padding: 14px 24px;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;

    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.footer-input:focus{
    outline: none;
    border-color: #fff;
}

.footer-input::placeholder{
    color: rgba(255, 255, 255, 0.30);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.footer-input-btn{
    width: 137px;
    height: 52px;
    background-color: #FD9222;
    border: none;
    border-radius: 100px;

    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.footer-input-btn:hover,
.footer-input-btn:focus{
    background-color: #FCF1E0;
    color: #fd9322;
}

.footer-line{
    width: 100%;
    border: none;
    border-top: 1px solid #fff;
    opacity: 0.2;
} */

/* Backdrop & modal window */

/* .backdrop.is-open{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 100%;
    background-color: rgba(76, 76, 76, 0.3);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 517px;
    min-height: 794px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #FAFAFA;
    padding: 40px;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    display: grid;
    place-items: center;
    width: 24px;
    height: 24px;
    stroke: #111;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: stroke 250ms ease-in-out;
}

.modal-close{
    opacity: 1;
    z-index: 9999;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
}

.modal-close:checked + .backdrop{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.modal-close:hover + .modal-form > .modal-close-btn{
    stroke: #fd9322;
}

.modal-close-btn:focus{
    stroke: #fd9322;
}

.modal-title{
    max-width: 298px;
    color: #111;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.modal-form-list{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.modal-list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-label{
    color: #404040;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    opacity: 0.3;
}

.modal-input{
    padding: 22px 24px 22px 62px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.modal-textarea{
    resize: none;
    min-height: 137px;
    padding: 22px 24px;
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    transition: border-color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.modal-textarea::placeholder{
    color: rgba(64, 64, 64, 0.30);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.modal-input:focus,
.modal-textarea:focus {
    outline: none;
    border-color: #FD9222;
    box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}

.modal-input-icon{
    position: absolute;
    bottom: 22px;
    left: 24px;
    stroke: #404040;
    transition: stroke 250ms ease-in-out;
}

.modal-input:focus + .modal-input-icon{
    stroke: #fd9322;
}

.modal-checkbox-wrapper {
    position: relative;
    display: flex;
    margin: 18px 0 40px;
}

.modal-checkbox{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-label{
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.custom-checkbox{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    margin-right: 12px;
}

.custom-checkbox-icon{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

.checkbox-label-link{
    color: #fd9322;
    margin-left: 4px;
    text-decoration: underline;
}

.modal-checkbox:checked+.custom-checkbox-icon{
    display: block;
}

.modal-btn{
    width: 117px;
    height: 45px;
    border-radius: 100px;
    background: #FD9222;
    border: 1px solid #fd9322;

    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 250ms ease-in-out,
    color 250ms ease-in-out;
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: #FCF1E0;
    color: #fd9322;
}

.modal-close {
    opacity: 0;
    z-index: 9999;
    cursor: pointer;
}

.modal-close:checked+.backdrop {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.modal-open{
    position: fixed;
    opacity: 0;
}

.modal-open:checked + .backdrop{
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
} */