:root{
    --orange: #fd9222;
    --violet: #1e1823;
    --black: #111;
    --white: #fff;
    --cloud: #fafafa;
    --beige: #fcf1e0;
    --gray: #4c4c4c;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    margin: 0;
    max-width: 100%;
}

button {
    cursor: pointer;
}

svg {
    display: block;
}

.section-title {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .section-title {
        font-size: 20px;
        line-height: 1.2;
        max-width: 283px;
        margin: 0 auto 32px;
    }
}

@media screen and (min-width: 768px){
    .section-title{
        max-width: 412px;
        margin: 0 auto 50px;
    }
}
